{
    mail    => {
        user    => 'zoffix',
        pass    => 'secr3t',
        server  => 'MAIL_SERVER_HOSTNAME',

        # separate multiple addresses with commas
        from => {
            quicknote => 'XTaTIK.sender@example.com',
        },
        to => {
            quicknote   => 'XTaTIK.receiver@example.com',
        },

    },
};