@import "bootstrap/site-variables.scss";
@import "bootstrap/company-variables.scss";
@import "bootstrap/variables.scss";

$primary1: #FF6600 !default;
$light-on-dark-text: #fff;
$lighter-border-color: #eee;
$subdued-text: #999;

html {
    overflow-y: scroll;
}

.after_clear {
    display: block;
    content: '';
    clear: both;
    overflow: hidden;
}

.muted {
    opacity: .5;
    font-size: 90%;
}

body {
    padding-top: 70px;
}

h1 {
    margin: 0;

    a {
        color: #777!important;
        text-decoration: none!important;
    }
}

.checkout_crumbs {
    vertical-align: middle;
    margin-bottom: 20px;
    border-radius: 4px 5px 6px 5px;
    overflow: hidden;
    font-size: 90%;

    li {
        padding: 1ex 0;
        color: $light-on-dark-text;
        border: 1px solid $lighter-border-color;
        border-top: 0;
        border-left: 0;
    }
}

footer {
    padding-bottom: 40px;
}

.blog_nav {
    clear: both;
    list-style: none;
    overflow: hidden;
    padding: .5em 1em;
    border-radius: 4px;
    margin-top: 1em;
    background: lighten($lighter-border-color, 5%);
    border: 1px dotted $lighter-border-color;
    font-size: 90%;

    .next {
        float: right;
    }

    .next:after {
        content: "→";
        padding-left: .5em;
        opacity: .5;
    }

    .prev {
        float: left;
    }

    .prev:before {
        content: "←";
        padding-right: .5em;
        opacity: .5;
    }
}

#blog_article_content {
    padding: 20px 0 10px;
}

#navbar a {
    outline: 0;
}

.valign > [class^="col-"],
.valign > [class*=" col-"] {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#feedback_ideas_to_submit {
    margin-top: 20px;
}

.qty-input {
    width: 4em!important;
}

.product_number {
    color: $subdued-text;
}

#product_list:after {
    @extend .after_clear;
}

.price_large {
    font-size: 150%;
    font-weight: bold;

    .sku {
        font-size: 70%;
    }
}

#cart {
    margin-bottom: -6ex;
}

.hidden_checkout {
    visibility: hidden;
}

#checkout_form td {
    vertical-align: middle;
}

#checkout_totals .total {
    font-size: 200%;
    padding-top: 1ex;
    font-weight: bold;
}

#article_list {
    .thumbnail {
        margin-bottom: 10px;
    }

    a {
        font-size: 130%;
        display: block;
    }

    small {
        @extend .muted;
        display: block;
    }
}

#feedback_b {
    position: fixed;
    left: -4px;
    top: 45%;
    display: block;
    padding: 10px 10px 10px 15px;
    border-radius: 3px;
    background: $navbar-inverse-bg;
    color: $navbar-inverse-link-color;

    text-decoration: none!important;
    outline: 0;

    span {
        display: inline-block;
        position: absolute;
        left: -9999px;
        top: 1px;
        padding-left: 10px;
        overflow: hidden;
        vertical-align: top;
    }
}

#feedback_b:hover {
    color: $navbar-inverse-link-hover-color;
}

#feedback_b:focus,
#feedback_b:active {
    color: $navbar-inverse-link-active-color;
}

#index_shoutout {
    .thumbnail {
        border: 0;
    }

    .market_tag {
        display: block;
        margin-top: 20px;
        font-size: 300%;
        letter-spacing: -2px;
        text-align: center;
        color: darken($primary1, 10%);
        transition: transform 3s;
        transform: scale(1);
    }

    a {
        outline: 0;
    }

    img {
        max-height: 544px;
    }
}

